@media (max-width: 600px) {
    .nav {
        z-index: 1;
    }
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    /* .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #745dba;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 47px;
        left: 0px;
    } */
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #745dba;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 245px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    /* .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    } */
    .nav>#nav-check:checked~.nav-links {
        height: calc(35vh - 50px);
        overflow-y: auto;
    }
    .banner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
        margin-top: -225px;
    }
    .work-title {
        text-align: center;
        padding: 120px 0px 25px 55px;
        font-family: cursive;
    }
    section.aboutme {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        align-content: flex-start;
        flex-wrap: wrap;
        padding: 30px;
        /* background-color: #d1c9e8; */
        flex-direction: column;
    }
    .social_header {
        display: flex;
        /* margin-left: 30px; */
        flex-wrap: wrap;
        align-content: stretch;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .flip-card {
        margin: 20px 0px;
        z-index: 0;
    }
    .item p {
        margin-bottom: 10px;
        padding: 10px;
        /* width: 288px; */
        font-size: 14px;
    }
    .Exp,
    .Edu {
        padding: 10px;
        /* border-color: #baaedd; */
        /* border: 2px solid; */
        background-color: #745dba6e;
        border-radius: 25px;
        /* margin-top: 30px; */
        margin: 5px;
        /* width: 100%; */
    }
    h6 {
        font-size: 10px;
    }
    .edEx {
        /* width: 145px; */
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
    }
    .works {
        margin: 10px 20px;
        width: auto;
        grid-template-columns: 2fr;
        display: grid;
        background-color: #e8e4f4;
        height: auto;
        padding-bottom: 30px;
    }
    .works-content {
        font-size: 5px;
        display: grid;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        /* padding: 9px 20px; */
    }
    .cardss {
        /* padding-top: 50px; */
        display: flex;
        align-content: stretch;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .card1 {
        margin: 10px;
        width: 200px;
    }
    .con {
        display: flex;
        /* margin-left: 30px; */
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }
    footer {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        background-color: #745dba;
        justify-content: space-around;
        height: 100px;
        align-items: center;
        flex-direction: column;
    }
}