        * {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
            scroll-behavior: smooth;
            scroll-margin: 0px;
        }
        /* start darkmode */
        
        html {
            --bg: #edf7f9;
        }
        
        body {
            background-color: var(--bg);
        }
        /* darkmode */
        
        .toggle input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
        }
        
        .toggle label {
            cursor: pointer;
            text-indent: -9999px;
            width: 52px;
            height: 27px;
            background: var( --secondery-color, #83c4be);
            ;
            float: right;
            border-radius: 100px;
            position: relative;
        }
        
        .toggle label::after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 20px;
            height: 20px;
            background-color: var( --forth-color, #edf7f9);
            border-radius: 90px;
            transition: 0.3s;
        }
        /*toggle bg color after dark */
        
        .toggle input:checked+label {
            background-color: #8a8a8a;
        }
        
        .toggle input:checked+label::after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }
        
        .toggle label:active:after {
            width: 45px;
        }
        /* end darkmode */
        
         :root {
            --primery-color: #016d77;
            --secondery-color: #83c4be;
            --third-color: #af5dba;
            --forth-color: #edf7f9;
            --fifth-color: #ffddd3;
            /* --primery-color: #745dba;
            --secondery-color: var(--fifth-color, #ffddd3;);
            --third-color: var( --forth-color, #edf7f9);; */
        }
        
        a {
            text-decoration: none;
            text-transform: capitalize;
        }
        /* start nav burger and menu */
        /* nav */
        
        .nav {
            display: flex;
            z-index: 1;
            height: 64px;
            width: 100%;
            background-color: var( --primery-color, #016d77);
            /* background-color: #745dba; */
            position: fixed;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
            align-items: center;
        }
        
        .nav>.nav-header {
            display: inline;
        }
        
        .nav>.nav-header>.nav-title {
            display: inline-block;
            font-size: 22px;
            color: var( --forth-color, #edf7f9);
            ;
            padding: 20px 0px 10px 40px;
            font-family: Scriptina;
        }
        
        .name {
            font-size: 22px;
            color: var( --forth-color, #edf7f9);
            ;
            letter-spacing: 5px;
        }
        
        .nav>.nav-btn {
            display: none;
        }
        
        .nav>.nav-links {
            display: inline;
            float: right;
            font-size: 18px;
            padding: 9px;
        }
        
        .nav>.nav-links>a {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: #efefef;
        }
        
        .nav>.nav-links>a:hover {
            background-color: var( --secondery-color, #83c4be);
            ;
            color: black;
        }
        
        .nav>#nav-check {
            display: none;
        }
        /* end nav  */
        
        .cover,
        .makeflex,
        img,
        .flip-card-front,
        .flip-card,
        .works,
        .banner,
        .card1 {
            border-radius: 5px;
        }
        /* start cover */
        
        .makeflex {
            z-index: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-top: 100px;
        }
        
        .item {
            margin-top: 100px;
        }
        
        .card3 {
            margin: 50px;
            width: 200px;
            height: 200px;
            border: none;
        }
        
        .card3 h2 a {
            color: #016d77;
        }
        
        .card3 .card_image2 {
            width: 250px;
            height: 250px;
            /* border-radius: 40px; */
        }
        
        .card3 .card_image2 img {
            width: inherit;
            height: inherit;
            /* border-radius: 40px; */
            object-fit: content;
        }
        
        .card3 .card_title {
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            margin-right: -20px;
            margin-top: -240px;
            height: 40px;
        }
        
        .card3 h6 {
            font-size: 16px;
            padding-top: 1px;
        }
        
        h1.cd-headline.clip {
            font-size: 25px;
        }
        
        .cover {
            width: 100%;
            height: auto;
            background-color: var( --secondery-color, #83c4be);
        }
        /* end cover  */
        
        section.aboutme {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            align-content: flex-start;
            flex-wrap: wrap;
            padding: 30px;
            /* background-color: var( --secondery-color, #83c4be);; */
        }
        
        .social_header {
            display: flex;
            margin-left: 30px;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .social_header a {
            padding: 10px;
            text-decoration: none;
            text-transform: capitalize;
        }
        
        .item p {
            padding-bottom: 10px;
            width: 350px;
            font-size: 20px;
        }
        
        .banner {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: flex-start;
            margin-top: -225px;
        }
        
        .cardss {
            /* padding-top: 50px; */
            display: flex;
            align-content: stretch;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
        
        .cards {
            display: flex;
            flex-wrap: nowrap;
            align-content: space-around;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        .card1 {
            width: 150px;
            height: 150px;
            background-color: var(--fifth-color, #ffddd3);
            padding: 25px;
            margin: 10px;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 4%), 0 6px 20px 0 rgb(0 0 0 / 10%);
        }
        
        .card1 i {
            display: flex;
            padding-bottom: 25px;
            /* text-align: center; */
            align-content: space-around;
            justify-content: center;
        }
        
        .card1 h3 {
            text-align: center;
        }
        
        .card1 img {
            height: 150px;
            width: 150px;
        }
        
        .card1 p {
            margin-bottom: 20px;
        }
        
        .card1 a {
            padding: 2px;
            color: #ecf9fe;
            background-color: var(--primery-color, #016d77);
        }
        /* start works  */
        
        .works {
            background-color: var(--fifth-color, #ffddd3);
            height: auto;
            padding-bottom: 20px;
        }
        
        .works-content {
            font-size: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            padding: 0px;
        }
        
        .work {
            justify-content: center;
            text-align: center;
            padding: 10px;
            width: calc(70%/3);
            height: 500px;
        }
        
        .work-title {
            text-align: center;
            padding: 20px 0px 40px 0px;
            margin-top: 10px;
        }
        /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
        
        .flip-card {
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 4%), 0 6px 20px 0 rgb(0 0 0 / 10%);
            background-color: transparent;
            width: 300px;
            height: 200px;
            border: 1px solid var(--fifth-color, #ffddd3);
            perspective: 1000px;
            /* Remove this if you don't want the 3D effect */
        }
        /* This container is needed to position the front and back side */
        
        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        /* Do an horizontal flip when you move the mouse over the flip box container */
        
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }
        /* Position the front and back side */
        
        .flip-card-front,
        .flip-card-back {
            background-color: var(--secondery-color, #83c4be);
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden;
        }
        /* Style the front side (fallback if image is missing) */
        
        .flip-card-front {
            color: black;
        }
        
        .flip-card-front h5 {
            font-weight: bold;
            font-size: 16px;
            padding-bottom: 15px;
            padding-top: 10px;
        }
        
        .flip-card-front img {
            margin-top: -10px;
            width: 250px;
            max-width: 100%;
            height: auto;
        }
        /* Style the back side */
        
        .flip-card-back {
            background-color: var( --secondery-color, #83c4be);
            ;
            color: var( --forth);
            transform: rotateY(180deg);
        }
        
        .flip-card-back p {
            padding: 10px;
            font-size: 16px;
            font-family: sans-serif;
        }
        /*end works*/
        /*  */
        /*  */
        
        .edEx {
            padding: 20px 50px;
            /* border-radius: 170px; */
            /* background-color: var(--fifth-color, #ffddd3;); */
            display: grid;
            grid-template-columns: 2fr 2fr;
        }
        
        .Exp,
        .Edu {
            padding: 20px;
            /* border-color: var( --secondery-color, #83c4be);; */
            /* border: 2px solid; */
            background-color: var( --secondery-color, #83c4be);
            ;
            border-radius: 25px;
            /* margin-top: 30px; */
            margin: 10px;
            /* width: 400px; */
        }
        
        h5 {
            font-size: 20px;
        }
        
        h6 {
            font-size: 16px;
        }
        
        .timeline {
            margin-top: 10px;
        }
        /* end edu/exo */
        /* start contuct me */
        
        .form {
            background-color: var(--fifth-color, #ffddd3);
            width: 300px;
            padding: 20px;
            opacity: .8;
        }
        
        input {
            height: 35px;
        }
        
        textarea,
        input {
            margin-top: 20px;
            border-radius: 25px;
        }
        
        .material-icons,
        .fa {
            color: var(--third-color, #af5dba);
        }
        /* Set a style for the submit button */
        
        .registerbtn {
            background-color: var(--third-color, #af5dba);
            color: var( --forth-color, #edf7f9);
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
        
        .registerbtn:hover {
            opacity: 1;
        }
        /* end form */
        
        section.contuctme {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            align-content: flex-start;
            flex-wrap: wrap;
            padding: 30px;
            background-color: var( --secondery-color, #83c4be);
            ;
        }
        
        .con {
            display: flex;
            margin-left: 30px;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .con a {
            color: var( --forth-color, #edf7f9);
            padding-right: 10px;
        }
        
        .cont {
            padding-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: flex-end;
            flex-wrap: nowrap;
            flex-direction: row;
        }
        /*end contuct me*/
        
        footer {
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            background-color: var( --primery-color, #016d77);
            justify-content: space-between;
            height: 100px;
            align-items: center;
        }
        
        footer p {
            color: #8a8a8a;
        }
        
        .social {
            color: var (--forth-color, #edf7f9);
            margin-right: 100px;
        }
        
        .social .fa {
            margin-right: 5px;
            /* box-shadow: #737e8a 0px 1px 2px 0px, inset rgb(60 64 67 / 66%) 1px 0px 10px 13px; */
            padding: 10px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            box-shadow: gray;
            background-color: var( --forth-color, #edf7f9);
            ;
            border-radius: 40%;
        }
        
        .copy-right>p,
        .copy-right i {
            color: var( --forth-color, #edf7f9);
            ;
        }