* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

 :root {
    --primery-color: #24aef0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-bottom: 100px;
    margin-left: 30px;
}

section.cards,
section.cardss,
section.clints {
    margin-left: 30px;
    margin-right: 30px;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

header {
    padding: 10px;
    background-color: var(--primery-color, #24aef0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo img {
    margin-left: 30px;
    width: 160px;
}

section.contuctme {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
}

.con {
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.con a {
    color: white;
    padding-right: 10px;
}

.cont {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
}

social_header {
    color: white;
}

.main_img {
    background-image: url(../img/bg_header.jpg);
    width: auto;
    height: 500px;
}

.main_img h1,
h3 {
    text-transform: uppercase;
    padding-left: 92px;
    line-height: 35px;
}

.main_img p {
    text-transform: capitalize;
    padding-left: 92px;
    line-height: 35px;
    color: #fff;
}

.main_img h1 {
    color: #24aef0;
}

.main_img .but {
    padding-left: 92px;
    padding-right: 15px;
}

.main_img a {
    display: inline;
    padding: 5px;
}

.blue {
    color: #24aef0;
    background-color: #fff;
    margin-left: 10px;
}

.white {
    color: #fff;
    background-color: #24aef0;
}

.home {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.item p {
    padding-bottom: 10px;
}

.banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}

.cardss {
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card1 {
    padding-right: 25px;
}

.card1 img {
    height: 150px;
    width: 150px;
}

.card1 p {
    margin-bottom: 20px;
}

.card1 a {
    padding: 2px;
    color: #ecf9fe;
    background-color: var(--primery-color, #24aef0);
}

section.ed\\ex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 30px;
}

footer {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    background-color: #24aef0;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

footer p {
    color: #8a8a8a;
}

.social {
    color: white;
    margin-right: 100px;
}

.social .fa {
    margin-right: 5px;
    /* box-shadow: #737e8a 0px 1px 2px 0px, inset rgb(60 64 67 / 66%) 1px 0px 10px 13px; */
    padding: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: gray;
    background-color: #fdda7a;
}

.copy-right>p,
.copy-right i {
    color: #fdda7a;
}